
  
  .red-bar {
    background-color: rgb(218, 28, 28);
    height: 100px;
    width:100%;
  }
  
  .blue-block {
    background-color: rgb(22, 54, 231);
    height: 50px;
    width:100%;
  }
  
  .light-blue-block {
    background-color: rgb(126, 202, 228);
    width: 70%;
    height: 200px;
    float: left; 
  }
  
  .purple-block {
    background-color: purple;
    width: 30%;
    height: 100px;
    float: right;
  }
  
  .yellow-block {
    background-color: yellow;
    width: 30%;
    height: 100px;
    float: right;
  }
  
  .green-block {
    background-color: rgb(61, 175, 61);
    height: 200px;
    width: 30%;
    float:left;
  }
  
  .dark-blue-block {
    background-color: rgb(91, 91, 160);
    height: 200px;
    width: 70%;
    float:right;
  }
  .kb { background-color: rgb(51, 68, 51);
    height: 200px;
    width: 100%;
    float:left;}